
@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Your Cart</title>
</head>
<body>
    <h2 style="text-align:center;">Your Cart</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Options</th>
                <th>Product Id</th>
                <th>Name</th>
               @* <th>Brand</th>
                <th>Category</th>*@
                <th>Price</th>
                <th>Quantity</th>
                <th>Sub Total</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in ViewBag.cart)
            {
                <tr>
                    <td><a asp-controller="Cart" asp-action="Remove" asp-route-id="@item.Product.ProductId" class="btn btn-outline-danger">REMOVE</a></td>
                    <td>@item.Product.ProductId</td>
                    <td>@item.Product.Name</td>
                    @*<td>@item.Brand.Name</td>
                    <td>@item.Category.Name</td>*@
                <td>@item.Product.Price</td>
                    <td>@item.Quantity</td>
                    <td><span style="font-weight:bold">@(item.Product.Price * item.Quantity)</span></td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="5"><span style="font-weight:bold">Total Amount</span></td>
                <td><span style="font-weight:bold">@ViewBag.total</span></td>
            </tr>
        </tfoot>
    </table>
    <a class="btn btn-outline-dark" asp-controller="Product" asp-action="Index">Continue Shopping</a>
    <a asp-controller="Cart" asp-action="CheckOut" class="btn btn-outline-dark">Check Out</a>
    <a asp-controller="Cart" asp-action="EmptyCart" class="btn btn-outline-dark">Empty Cart</a>
</body>
</html>
