@model IEnumerable<coreCodeFirstApproachProject.Models.Brand>

@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DisplayBrands</title>
</head>
<body>
    <h2 style="text-align:center;background-color:antiquewhite;padding:5px;">Brands</h2>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BrandAddedDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BrandAddedDate)
            </td>
            <td>
                <a asp-action="Edit" style="margin-right:5px;" class="btn btn-outline-secondary" asp-route-id="@item.BrandId">Edit</a> 
                <a asp-action="BrandDetails" style="margin-right:5px;" class="btn btn-outline-info" asp-route-id="@item.BrandId">Details</a> 
                <a asp-action="BrandDelete" class="btn btn-outline-danger" asp-route-id="@item.BrandId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
