
@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ViewProducts</title>
    <style>
        table, th, td{
            border: 1px solid black;
            border-collapse: collapse;
        }
    </style>
</head>
<body>
    <div><h2 style="background-color:green;text-align:center;font-size:30px;padding:5px;">Available Products</h2></div>
    <table cellpadding="10px" style="padding-top:30px;">
        <thead>
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th>Image</th>
                <th>Available Quantity</th>
                <th>Brand</th>
                <th>Category</th>
                <th>Product Added Date</th>
                <th>Modify</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var item in Model)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Price</td>
                    <td><img src="@item.Image" width="100%" height="225" /></td>
                    <td>@item.Quantity</td>
                    <td>@item.BrandName</td>
                    <td>@item.CategoryName</td>
                    <td>@item.Date</td>
                    <td>
                        <a class="btn btn-outline-primary" asp-action="EditCategory" asp-route-id="@item.Id">Edit</a> <br> <br>
                        <a class="btn btn-outline-success" asp-action="CategoryDetails" asp-route-id="@item.Id">Details</a> <br> <br>
                        <a class="btn btn-outline-danger" asp-action="DeleteCategory" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>
